. {{ joinPath .chezmoi.sourceDir "dot_scruth-config/common.ps1" | quote }}

{{/* hostname check */}}
{{- if not (eq .chezmoi.hostname "FAMILYFUN" "RARSTEENS" "CRAFTINGISSEXY") -}}
Write-Warning "$ICON_CROSS  This system ({{ .chezmoi.hostname -}}) is not an allowed ScruthSystem$ICON_TM, aborting setup"
exit 1
{{- else -}}
Write-HostHorizontalRule
Write-Output "$ICON_ROCKET  Setting up ScruthSystem$ICON_TM {{ .chezmoi.hostname -}}, a Windows computer"
Write-HostHorizontalRule
{{- end -}}
