{{ template "common.ps1" . }}

# rclone
Update-System-Path -CmdBasePath "$env:LOCALAPPDATA\Microsoft\WinGet\Packages\Rclone.Rclone_Microsoft.Winget.Source_8wekyb3d8bbwe" -CmdFile 'rclone.exe' -PrettyName 'rclone'

# sublime
Update-System-Path -CmdBasePath "C:\Program Files\Sublime Text 3\" -CmdFile 'sublime_text.exe' -PrettyName 'sublime'
