{{ template "common" . }}

# If any of these other files change (this is a "run_onchange_" script), we want to delete and recreate the Task Scheduler task.
# {{ include (joinPath .chezmoi.homeDir "utilities/scruth-backup/test_task.xml") | sha256sum }}
# {{ include (joinPath .chezmoi.homeDir "utilities/scruth-backup/test-backup.ps1") | sha256sum }}
# {{ include (joinPath .chezmoi.homeDir "utilities/scruth-backup/test-backup-wrapper.ps1") | sha256sum }}

$taskFolder = "\Scott tasks\"
$taskName = "scruth-backup"
$taskFullName = $taskFolder + $taskName

$targetTask = Get-ScheduledTask -TaskPath $taskFolder -TaskName $taskName -ErrorAction SilentlyContinue

if ($targetTask) {
    $params = @{
        DisplayLabel = "deleting existing $taskFullName in Task Scheduler"
        Command = {
            schtasks.exe /delete /tn $taskFullName /f
        }
    }
    Invoke-ElevatedCommand @params
}
