{{ template "emoji_constants.ps1" . }}

# test_task.xml hash, to force this onchange script to re-run if modified: {{ include (joinPath .chezmoi.homeDir "utilities/scruth-backup/test_task.xml") | sha256sum }}

$targetTask = Get-ScheduledTask -TaskPath "\Scott tasks\" -TaskName "Test Task" -ErrorAction SilentlyContinue
$taskXmlDef = {{ joinPath .chezmoi.homeDir "utilities/scruth-backup/test_task.xml" | quote }}

if ($targetTask) {
    Write-Host "$ICON_INFO  Deleting existing scruth-backup in Task Scheduler"
    schtasks.exe /delete /tn "\Scott tasks\Test Task" /f
    Write-Host "$ICON_CHECK  Done deleting existing scruth-backup in Task Scheduler"
    # Write-Verbose "$ICON_INFO  Skipping scruth-backup in Task Scheduler since it already exists"
}

Write-Host "$ICON_INFO  Creating scruth-backup in Task Scheduler"
$pwd = op read "op://kmhwtn4fzf2vhyq3luti556edu/Microsoft - Scott/password"
schtasks.exe /create /xml $taskXmlDef /tn "\Scott tasks\Test Task" /f /rp $pwd /ru 'scott'
Write-Host "$ICON_CHECK  Done creating scruth-backup in Task Scheduler"
