{{ template "common.ps1" . }}

# System-wide install of Git
# As of March 2026 this must be an independent command vs the winget import/export
# mechanism (dot_scruth_default_winget.json) since import doesn't support "scope".
# It only works for user-space applications.
$ok = Install-Package-With-Winget -CheckCmd 'git' -WingetId 'Git.Git' -PrettyName 'Git' -OtherParameters '-e --source winget --scope machine'
if (-not $ok)
{
    Write-Warning "$ICON_CROSS  Please install Git manually and re-run this script."
    exit 1
}
