{{ template "emoji_constants.ps1" . }}

$taskFolder = "\Scott tasks\"
$taskName = "scruth-backup"
$taskFullName = $taskFolder + $taskName

$targetTask = Get-ScheduledTask -TaskPath $taskFolder -TaskName $taskName -ErrorAction SilentlyContinue

if (-not $targetTask) {
    Write-Host "$ICON_INFO  Creating $taskFullName in Task Scheduler"
    $taskXmlDef = {{ joinPath .chezmoi.homeDir "utilities/scruth-backup/backup-scruth-task.xml" | quote }}
    $pwd = op read "op://kmhwtn4fzf2vhyq3luti556edu/Microsoft - Scott/password"
    schtasks.exe /create /xml $taskXmlDef /tn $taskFullName /f /rp $pwd /ru 'scott'
    Write-Host "$ICON_CHECK  Done creating $taskFullName in Task Scheduler"
} else {
    Write-Verbose "$ICON_INFO  Skipping creating $taskFullName in Task Scheduler since it already exists"
}
