{
  "$schema" : "https://aka.ms/winget-packages.schema.2.0.json",
  "CreationDate" : "2026-03-08T22:27:56.061-00:00",
  "Sources" :
  [
    {
      "Packages" :
      [
        {{ if .devbox }}
        {
          "PackageIdentifier" : "JetBrains.IntelliJIDEA"
        },
        {{ end }}
        {
          "PackageIdentifier" : "7zip.7zip"
        },
        {
          "PackageIdentifier" : "calibre.calibre"
        },
        {
          "PackageIdentifier" : "Google.Chrome.EXE"
        },
        {
          "PackageIdentifier" : "HandBrake.HandBrake"
        },
        {
          "PackageIdentifier" : "VideoLAN.VLC"
        },
        {
          "PackageIdentifier" : "Spotify.Spotify"
        },
        {
          "PackageIdentifier" : "Zoom.Zoom.EXE"
        },
        {
          "PackageIdentifier" : "AgileBits.1Password"
        },
        {
          "PackageIdentifier" : "Rclone.Rclone"
        },
        {
          "PackageIdentifier" : "Gyan.FFmpeg"
        },
        {
          "PackageIdentifier" : "GuinpinSoft.MakeMKV"
        },
        {
          "PackageIdentifier" : "geeksoftwareGmbH.PDF24Creator"
        },
        {
          "PackageIdentifier" : "SublimeHQ.SublimeText.4"
        },
      ],
      "SourceDetails" :
      {
        "Argument" : "https://cdn.winget.microsoft.com/cache",
        "Identifier" : "Microsoft.Winget.Source_8wekyb3d8bbwe",
        "Name" : "winget",
        "Type" : "Microsoft.PreIndexed.Package"
      }
    }
  ],
  "WinGetVersion" : "1.12.470"
}