{{- /*********************************************************************/ -}}
{{- /* Flags                                                             */ -}}
{{- /*********************************************************************/ -}}
{{- /* devbox - "true" to install dev-related tools and configuration    */ -}}
{{- $devbox := false                                                        -}}
{{- if eq .chezmoi.hostname "FAMILYFUN" "RARSTEENS" "sfeinstein-studio-m4"  -}}
{{-   $devbox = true                                                        -}}
{{- end                                                                     -}}
{{- /* minimalWingetInstalls - affects how the winget JSON is rendered   */ -}}
{{- $minimalWingetInstalls := true                                          -}}
{{- /* installPlex - Whether to install and run plex on startup          */ -}}
{{- $installPlex := false                                                   -}}
{{- /* scruthBackupStartBoundary - scruth-backup time, recurs daily      */ -}}
{{- $scruthBackupStartBoundary := ""                                        -}}
{{- if eq .chezmoi.hostname "FAMILYFUN"                                     -}}
{{-   $minimalWingetInstalls = false                                        -}}
{{-   $scruthBackupStartBoundary = "2026-03-28T12:00:00"                    -}}
{{- else if eq .chezmoi.hostname "RARSTEENS"                                -}}
{{-   $minimalWingetInstalls = false                                        -}}
{{-   $installPlex = true                                                   -}}
{{-   $scruthBackupStartBoundary = "2026-03-28T09:30:00"                    -}}
{{- else if eq .chezmoi.hostname "CraftingIsSexy"                           -}}
{{-   $scruthBackupStartBoundary = "2026-03-28T06:00:00"                    -}}
{{- end                                                                     -}}
{{- /*********************************************************************/ -}}
{{- /* Chezmoi sourceDir override based on OS                            */ -}}
{{- /*********************************************************************/ -}}
{{- $gitSigningKey := ""                                                    -}}
{{- $sourceDir := .chezmoi.sourceDir                                        -}}
{{- if eq .chezmoi.os "darwin"                                              -}}
{{-   $gitSigningKey = "id_github"                                          -}}
{{-   $sourceDir = (joinPath .chezmoi.sourceDir "/src/macos" | quote)       -}}
{{- else if eq .chezmoi.os "windows"                                        -}}
{{-   $gitSigningKey = "id_ed25519_github_windows"                          -}}
{{-   $sourceDir = (joinPath .chezmoi.sourceDir "/src/windows" | quote)     -}}
{{- else                                                                    -}}
{{-   warnf "Aborting. Unsupported OS: '%s'" .chezmoi.os                    -}}
{{-   exit 1                                                                -}}
{{- end                                                                     -}}
{{ $baseSourceDir := (joinPath .chezmoi.sourceDir | quote)                  -}}
sourceDir = {{ $sourceDir }}

[data]
    upgrade_software = "false"
    baseSourceDir = {{ $baseSourceDir }}
    devbox = {{ $devbox }}
    gitSigningKey = "{{ $gitSigningKey }}"

{{- if eq .chezmoi.os "windows"                                             -}}
    installPlex = {{ $installPlex }}
    minimalWingetInstalls = {{ $minimalWingetInstalls }}
    scruthBackupStartBoundary = "{{ $scruthBackupStartBoundary }}"
{{- end                                                                     -}}
