alias chez='chezmoi apply && omz reload'
alias chez-toml='chezmoi -S {{ .baseSourceDir }} apply && omz reload'
alias chez-debug='chezmoi apply --debug --verbose && omz reload'
alias chez-edit='nohup idea {{ .baseSourceDir }}/.. > /dev/null 2>&1 &'
alias hist='history | egrep'
alias st='subl'
alias uv-activate='. .venv/bin/activate'
