#!/bin/bash
set -euo pipefail

# In chezmoi, "source" refers to what is stored in the repo and "destination" are the files that get rendered
# and impact actual applications.
#
# This script runs *before* chezmoi renders the source to the destination.  Its purpose is to decide whether or not
# to update the *source* Brewfile based on what brew packages are actually currently installed in the system.
#
# This supports a convenient daily workflow of simply "brew install"ing whatever is desired, followed by applying
# chezmoi such as via the "chez" alias.  Then, a PR can be created from the resulting change to the source Brewfile.
#
# In the (much) less frequent case of this being the initial chezmoi apply for a new or clean system, the script does
# *not* update the source Brewfile since that would effectively mean setting it to empty.  A major purpose of using
# chezmoi is so that for new system installs, the desired set of brew packages captured in the repo are installed.
# So, if there is no destination Brewfile, we can assume this is an initial install and not touch the source file.
#

BREWFILE={{ joinPath .chezmoi.sourceDir "dot_config/homebrew/Brewfile" | quote }}

if [ ! -f "$BREWFILE" ]; then
  echo "Destination Brewfile does not exist; skipping updating source Brewfile under the assumption this is a first install"
  exit
fi

echo "Updating source Brewfile from installed packages"

# Brew configuration relies on some of our environment exports so we must explicitly source them
source {{ joinPath .chezmoi.homeDir ".config/scruth_env/.exports" | quote }}

# Update the chezmoi source Brewfile to include any Brew packages that were installed directly
# (not via Brewfile).  This may seem circular or counterintuitive but the idea is that most
# of the time regular brew commands will be used to install packages.  A "chezmoi apply" should
# capture that state into the source Brewfile so it can be committed back to the repo.
#
# Similarly, if normal brew commands are used to uninstall a package, a "chezmoi apply" will
# again update the source so that it is in a nice state for fully initializing and managing
# the systems.
brew bundle dump --force --describe --file="$BREWFILE"
