#!/bin/bash

echo "Installing packages based on destination Brewfile"

# The commented "Brewfile hash" line forces this script to be viewed as having been changed, if the actual
# live Brewfile has been modified; this is a signal to chezmoi to run this script.
# Brewfile hash: {{ joinPath .chezmoi.homeDir ".config/homebrew/Brewfile" | include | sha256sum }}

# Use brew to install all the packages in our live Brewfile
# This is mostly relevant when using chezmoi to initialize a new system but shouldn't cause
# problems otherwise, as a separate script updated prior to this updates the source Brewfile to match
# the current state of the system (in which case this is a no-op).
#
# We set XDG_CONFIG_HOME explicitly since this may be a first run on a new system, in which case this shell won't
# have sourced the ~/.config/scruth_env/dot_exports which otherwise set it
XDG_CONFIG_HOME={{ .chezmoi.homeDir }}/.config brew bundle --global
