#!/bin/bash

echo "Installing packages based on destination Brewfile"

# Use brew to install all the packages in the Brewfile
# We only need to do this on the first install on a new system; otherwise the live (destination) Brewfile is the
# source of truth and the before script updates the Brewfile in source based on the currently installed packages.
XDG_CONFIG_HOME={{ joinPath .chezmoi.sourceDir "/dot_config" | quote }} brew bundle --global
