{{ template "common" . }}

{{/* hostname check */}}
{{- if not (eq .chezmoi.hostname "FAMILYFUN" "RARSTEEN" "CRAFTINGISSEXY") -}}
Write-Warning "$ICON_CROSS  This system ({{ .chezmoi.hostname -}}) is not an allowed ScruthSystem$ICON_TM, aborting setup"
exit 1
{{- else -}}
Write-HorizontalRule
Write-Output "$ICON_ROCKET  Setting up ScruthSystem$ICON_TM {{ .chezmoi.hostname -}}, a Windows computer"
Write-HorizontalRule
{{- end -}}
