. {{ joinPath .chezmoi.sourceDir "dot_scruth-config/common.ps1" | quote }}

# Globals
$taskFolder = "\Scott tasks\"

###############################################################################
# scruth-backup
#
# To force re-running of this chezmoi script if they change
# {{ include (joinPath .chezmoi.homeDir "utilities/scruth-backup/backup-scruth-task.xml") | sha256sum }}
# {{ include (joinPath .chezmoi.homeDir "utilities/scruth-backup/backup-scruth-device.ps1") | sha256sum }}
# {{ include (joinPath .chezmoi.homeDir "utilities/scruth-backup/backup-scruth-device-wrapper.ps1") | sha256sum }}
###############################################################################

$taskName = "scruth-backup"
$taskFullName = $taskFolder + $taskName
$targetTask = Get-ScheduledTask -TaskPath $taskFolder -TaskName $taskName -ErrorAction SilentlyContinue
if ($targetTask) {
    $sb = [ScriptBlock]::Create("
        schtasks.exe /delete /tn '$taskFullName' /f
    ")
    $params = @{
        DisplayLabel = "deleting existing $taskFullName in Task Scheduler"
        ScriptBlock = $sb
    }
    Invoke-ElevatedCommand @params
}

###############################################################################
# plex
#
# To force re-running of this chezmoi script if they change
# {{ include (joinPath .chezmoi.homeDir ".scruth-config/plex-on-startup-task.xml") | sha256sum }}
###############################################################################

{{ if .installPlex }}
$taskName = "Plex"
$taskFullName = $taskFolder + $taskName
$targetTask = Get-ScheduledTask -TaskPath $taskFolder -TaskName $taskName -ErrorAction SilentlyContinue
if ($targetTask) {
    $sb = [ScriptBlock]::Create("
        schtasks.exe /delete /tn '$taskFullName' /f
    ")
    $params = @{
        DisplayLabel = "deleting existing $taskFullName in Task Scheduler"
        ScriptBlock = $sb
    }
    Invoke-ElevatedCommand @params
}
{{ end }}
