. {{ joinPath .chezmoi.sourceDir "dot_scruth-config/common.ps1" | quote }}

$targetPath = {{ joinPath .chezmoi.homeDir ".config/1password/scruth-config_SA_token.xml" | quote }}

if (-not (Test-Path $targetPath)) {
    Write-Output "$ICON_INFO  Creating ~/.config/1password/scruth-config_SA_token.xml"
    op read "op://Scruth Automation/scruth-config/Service Account/SA_token" |
        ConvertTo-SecureString -AsPlainText -Force |
        ConvertFrom-SecureString |
        Set-Content -NoNewline $targetPath
    Write-Output "$ICON_CHECK  Done creating ~/.config/1password/scruth-config_SA_token.xml"
}  else {
    Write-Verbose "$ICON_INFO  Skipping ~/.config/1password/scruth-config_SA_token.xml since it already exists"
}
