. {{ joinPath .chezmoi.sourceDir "dot_scruth-config/common.ps1" | quote }}

# System Path updates get their own file since we always want to check for and
# "repair" if necessary paths are missing.

# git
$gitPath = Find-InstallLocation 'Git.Git'
Add-SystemPathEntry -CmdBasePath $gitPath -CmdFile 'git.exe' -PrettyName 'git'

# rclone
$rclonePath = Find-InstallLocation 'Rclone.Rclone'
Add-SystemPathEntry -CmdBasePath $rclonePath  -CmdFile 'rclone.exe' -PrettyName 'rclone'

# sublime
$sublPath = Find-InstallLocation 'SublimeHQ.SublimeText.4'
Add-SystemPathEntry -CmdBasePath $sublPath -CmdFile 'sublime_text.exe' -PrettyName 'sublime'
