{{ template "emoji_constants" . }}

# If any of these other files change, we want to install via WinGet
# {{- include "dot_scruth_default_winget.json.tmpl" | sha256sum }}

# WinGet (JSON manifest, only supports user-scoped)
$wingetJson = '{{ joinPath .chezmoi.homeDir ".scruth_default_winget.json" }}'
Write-Output "$ICON_INFO  Installing WinGet: $wingetJson"
winget import -i $wingetJson
Write-Output "$ICON_CHECK  Done importing default packages using WinGet"
