. {{ joinPath .chezmoi.sourceDir "dot_scruth-config/common.ps1" | quote }}

# Git (machine scope)
$cmd = 'git'

if (Test-CommandExists 'git') {
    Write-Host "$ICON_INFO  git is already installed"
    return
}

$sb = [ScriptBlock]::Create(@"
    . {{ joinPath .chezmoi.sourceDir "dot_scruth-config/common.ps1" | quote }}
    Install-WingetPackage -CheckCmd 'git' -WingetId 'Git.Git' -PrettyName 'Git' -OtherParameters '-e --source winget --scope machine'
"@)
$params = @{
    DisplayLabel = 'installing git with machine scope'
    ScriptBlock = $sb
}
Invoke-ElevatedCommand @params
